.Modal {
  position: fixed;
  background: #fffafb;
  width: 60vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  -moz-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  box-shadow: 0 4px 3px 5px rgba(72, 72, 72, 0.83),
    0 10px 15px 1px rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;

  // -webkit-box-shadow: 0px 10px 12px -4px rgba(5, 133, 107, 0.8);
  // -moz-box-shadow: 0px 10px 12px -4px rgba(5, 133, 107, 0.8);
  // box-shadow: 0px 10px 12px -4px rgba(5, 133, 107, 0.8);
}

.ModalShow {
  position: fixed;
  // comment out z-index for 'glow-in-the-dark' buttons
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.567);
  display: block;
}

.ModalHide {
  display: none;
}
