* {
  margin: 0;
  padding: 0;
  overflow: visible;
}

.Main {
  margin: 3px;
  border-radius: 2px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);

  &::after {
    content: '';
    background-image: url('../../assets/mainPageBackground.jpeg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
  }
  border: 1px solid rgba(0, 0, 0, 0.05);
  min-height: 500px;

  .SearchField {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @media (min-width: 450px) {
    margin: 20px;
    min-height: 500px;
    border-radius: 4px;
  }

  .plantsRendered,
  .plantsQuerried {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
