$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.plantCardContainer {
  cursor: pointer;
  height: 250px;
  width: 162px;
  background-color: #fff;
  text-align: center;
  margin: 10px;
  border-radius: 4px;
  // border: 1px solid rgb(245, 238, 238);
  -webkit-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  -moz-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83),
    0 10px 15px 0 rgba(126, 126, 126, 0.12),
    0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
    0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;

  img {
    border-radius: 5px;
  }

  .plantCardName {
    margin-top: 8px;
  }

  .PlantCardParagraph {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 7px;
    font-family: monospace;
  }
}

.PlantInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}

.WateringProperty,
.EdibleProperty,
.LightingProperty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 42px;
  position: relative;
  background: #f0f0f3;
  margin-top: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  line-height: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: semibold;

  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  &:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #3579716e;
  }
  &:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
  }
}

.LinkContainer {
  a {
    text-decoration: none;
    color: #000;
  }
}
